body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 14px;
}

.dashboard {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

.choice {
    margin: 10px;
    width: 150px;
}

.panel {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.scroll {
    margin: 6px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: thin;
    overflow-x: auto;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    background-color: #EFEFEF;
    height: 10px;
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
    border-radius: 6px;
    border: 2px solid #EFEFEF;
}

.flex-box {
    display: flex;
    flex-direction: column;
}

.flex-element {
    flex: 1;
}
