body {
    font-family: sans-serif;
    font-size: 14px;
}

.dashboard {
    height: 90vh
}

.choice {
  width: 150px;
  margin: 10px;
}

.panel {
    margin: 15px;
    padding: 2px;
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    overflow-x: hidden;
    overflow-y: hidden;
}

.scroll {
    margin: 10px;
    padding: 0px;
    height: 45%;
    border: none !important;
    overflow-x: auto;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    background-color: #EFEFEF;
    height: 10px;
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
    border-radius: 6px;
    border: 2px solid #EFEFEF;
}

.graph {
    margin: 0px;
    padding: 0px;
    height: 95%;
    width: 100%;
}
