body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 14px;
}

.dashboard {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

.panel {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.frame {
    margin: 6px;
    padding: 2px;
    border: solid thin lightgrey;
}

.choice {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
}

.score {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    width: 120px;
    border: solid thin lightgrey;
    border-radius: 3px;
}

.scroll {
    margin: 6px;
    padding: 2px;
    border: solid thin lightgrey;
    overflow-x: auto;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    background-color: #EFEFEF;
    height: 10px;
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
    border-radius: 6px;
    border: 2px solid #EFEFEF;
}

.flex-box {
    display: flex;
    flex-direction: column;
}

.flex-element {
    flex: 1;
}

.DateInput_input, .DateInput_input_1 {
  height: 34px;
  font-size: 14px;
}
